.App {
  
  margin: 30px;
}


.projectitle {
  background-color:#ffff;
  border: 2px solid #859192;
  outline: none;
  border-radius: 5px;
}
.projectDescription {
  border: 1px #ffff;
  outline: none;
  border-radius: 5px;
  width: 100%;

}

fieldset{
  border-radius: 10px;
}

.form1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  margin: 20px;
}

.sec1{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 2em;
  margin: 20px;
}

.sec11{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 2em;
  margin: 20px;
}

.sec12{
  
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 0.5em;
 
}

.button1{
  border-radius:20px;
  padding: 10px 24px;
  background-color:rgb(201, 99, 99);
  margin:auto;
  color:#ffff;
  outline: none;
  margin-left:45%;

  
}

.token{
  width:45%;
  height:30px;
  border-radius:10px;
}

input{
  border:none;
  outline: none;
}

.radiobtn{
  display: inline-block;
  margin:15px;

  
}